.head-container img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.account a {
    color: #8d8d8d;
    text-decoration: none;
    margin-right: 25px;
}