@media screen and (max-width: 600px) {
    .thumbnails {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }


    .thumbnails img {
        width: 180px;
    }

    .inv-details img {
        width: 300px;
    }

    /* form styles */
    .notice {
        font-size: 0.9rem;
    }

    .review-wrapper {
        width: 95%;
    }
}